.outimg{
    width: 1050px;
    height: 700px;
    position: absolute;
    top: 100px;
    left: 200px;
}

#navcheck{
    position:absolute;
    /* float: right; */
    top: 280px;
    left: 1170px;
    color:black;
    
}

#navzones{
    position:absolute;
    top:350px;
    left: 1170px;
    clear: both;    
}
